@font-face {
	font-family: "OverusedGrotesk";
	src: url("fonts/OverusedGrotesk-Light.woff2") format("woff2"),
		url("fonts/OverusedGrotesk-Light.woff") format("woff");
	font-weight: 300; /* Specify the font weight for light font */
}

@font-face {
	font-family: "OverusedGrotesk";
	src: url("fonts/OverusedGrotesk-Roman.woff2") format("woff2"),
		url("fonts/OverusedGrotesk-Roman.woff") format("woff");
	font-weight: 400; /* Normal weight */
}

@font-face {
	font-family: "OverusedGrotesk";
	src: url("fonts/OverusedGrotesk-Bold.woff2") format("woff2"),
		url("fonts/OverusedGrotesk-Bold.woff") format("woff");
	font-weight: 500; /* Bold weight */
}

body {
	background-image: url("../images/device-bkg-def.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 270%;
	color: #000;
	font-family: "OverusedGrotesk", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	word-spacing: 0.05em;
}

@media (min-width: 768px) {
	body {
		background-size: 1200px;
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 18px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 18px;
	}
}

.page-sub {
	background-image: none;
}

.page-green {
	background-color: #bdff01;
}

.page-black {
	background-color: #000;
	color: #fff;
}

.motion-hide {
	opacity: 0;
	transition: all 0.6s cubic-bezier(0.76, 0, 0.24, 1);
}

.motion-slide-right {
	transform: translateX(100px);
}

.motion-slide-left {
	transform: translateX(-100px);
}

.motion-slide-btm {
	transform: translateY(20px);
}

.motion-show {
	opacity: 1;
	transform: translate(0, 0);
}

.row .border-md-end {
	border-right-width: 0 !important;
}

@media (min-width: 768px) {
	.row .border-md-end {
		border-right-width: 1px !important;
	}
}

a {
	color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-weight: 400;
	line-height: 1.1;
	margin: 0.75em 0 0.5em;
}

.page-black h1,
.page-black h2,
.page-black h3,
.page-black h4,
.page-black h5,
.page-black h6 {
	color: #fff;
}

h1 {
	font-size: 12vw;
	line-height: 1.2;
	margin-top: 0;
}

@media (min-width: 576px) {
	h1 {
		font-size: 8vw;
	}
}

@media (min-width: 992px) {
	h1 {
		font-size: 72px;
	}
}

.page-sub h1 {
	font-size: 48px;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	.page-sub h1 {
		font-size: 150px;
		margin-left: -5px;
		font-weight: 300;
	}
}

h2 {
	font-size: 70px;
	font-weight: 300;
	line-height: 0.85;
	margin: 0 0 0.25em;
	text-transform: uppercase;
}

h3 {
	font-size: 24px;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	h3 {
		font-size: 30px;
	}
}

h4,
h5 {
	font-size: 24px;
	text-transform: uppercase;
}

h5 {
	font-size: 18px;
}

strong {
	font-weight: 500;
}

img {
	max-width: 100%;
	width: auto;
}

figcaption {
	font-size: 14px;
	margin-top: 10px;
	text-transform: uppercase;
}

.big-bullet::before {
	content: "";
	display: inline-block;
	width: 0.55em;
	height: 0.55em;
	background-color: black;
	border-radius: 50%;
	margin-right: 10px; /* Adjust margin as needed */
}

.page-black .big-bullet::before {
	background-color: #fff;
}

.container {
	margin: 0 auto;
	max-width: 1680px;
	width: 100%;
}

#header {
	padding-top: 10px;
}

#logo {
	margin: 20px 0;
}

#logo img {
	max-width: 300px;
	width: 100%;
}

@media (min-width: 1200px) {
	#logo img {
		max-width: 250px;
	}
}

#main {
	padding-top: 40px;
}

@media (min-width: 768px) {
	#main {
		padding-top: 80px;
	}
}

#main figure + figure img {
	margin-top: 40px;
}

#page-home #main {
	align-items: center;
	padding-top: 30px;
}

#page-home #main h5 {
	margin-bottom: 1em;
}

/* .page-sub #main {
	padding: 50px 0;
} */

@media (min-width: 992px) {
	.page-sub #main {
		padding-top: 100px;
	}
}

@media (min-width: 992px) {
	#page-home #main h5 {
		margin-bottom: 3em;
	}
}

aside > .border-top {
	padding-top: 5px;
}

@media (min-width: 992px) {
	#main aside h2 {
		margin: 0 0 0.25em;
	}
}

#main section h2:first-child {
	margin-top: -10px;
}

#main section h3:first-child,
#main aside h3:first-child,
#main aside h4:first-child {
	margin-top: 5px;
}

#main aside .contact {
	font-size: 30px;
	margin-bottom: 50px;
}

#main .img-margin-right {
	padding-right: 8%;
}

.row-gap {
	margin-bottom: 50px;
}

@media (min-width: 992px) {
	.row-gap {
		margin-bottom: 100px;
	}
}

.row-grey {
	background: #ebebeb;
	padding: 40px 20px;
}

@media (min-width: 992px) {
	.row-grey {
		background: #ebebeb;
		padding: 50px;
	}
}

#row-vision article {
	margin-bottom: 50px;
}

@media (min-width: 1200px) {
	#row-vision article {
		margin-bottom: 0;
	}
}

#row-user-friendly aside {
	margin-bottom: 50px;
}

@media (min-width: 992px) {
	#row-user-friendly aside {
		margin-bottom: 0;
	}
}

.pad-plus .content {
	padding: 0 25px;
}

.cta-primary {
	margin-top: 50px;
	text-align: center;
}

.cta-primary h3 {
	color: #fff;
}

#main .cta-primary .button-group {
	background: #000;
	border-radius: 20px;
	color: #fff;
	margin: 0;
	width: auto;
	display: inline-block;
}

#main .cta-primary .button-group a {
	display: block;
	margin: 10px 0;
}

#main .cta-primary .button-group .btn-primary {
	border: none;
}

#main .cta-primary .button-group {
	border-radius: 45px;
	padding: 22px;
}

@media (min-width: 768px) {
	#main .cta-primary .button-group a {
		display: inline-block;
		margin: 0 2px;
	}
}

#main .cta-primary-sm .button-group {
	padding: 12px 15px;
}

@media (min-width: 768px) {
	#page-home .cta-primary {
		margin-top: 80px;
	}
}

.border,
.border-bottom,
.border-end,
.border-start,
.border-top {
	border-color: #000 !important;
	border-width: 1px !important;
}

.boxes-01 {
	padding-bottom: 60px;
	padding-top: 60px;
}

.icons-skills {
	margin-bottom: 2em;
}

.icons-skills img {
	display: inline-block;
	margin-right: 2px;
	max-width: 20px;
}

.icons-skills .icon-wp {
	max-width: 22px;
}

.intro {
	font-size: 30px;
	line-height: 1.35;
}

.intro p {
	margin-bottom: 0.75em;
}

.intro .big-bullet::before {
	margin-right: 0;
}

.page-sub #main .button-group {
	margin-top: 30px;
}

.page-sub #main .cta-primary .button-group {
	margin: 0;
}

#footer {
	padding-bottom: 30px;
}

.btn {
	background: #ccc;
	border: none;
	border-radius: 1em;
	color: #fff;
	display: inline-block;
	font-size: 21px;
	font-weight: 500;
	line-height: 1.2;
	padding: 4px 20px 6px;
	text-decoration: none;
	position: relative;
	padding-right: 50px;
}

@media (min-width: 768px) {
	.btn {
		font-size: 30px;
		font-weight: 400;
	}
}

.btn-primary {
	background: #bdff01;
	border: #000 solid 2px;
	color: #000;
}

.btn-primary:hover {
	background-color: #555;
}

.btn-primary::after {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url("../images/icon-arrow-device-01-rev.svg");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.btn.btn-sm {
	font-size: 18px;
	font-weight: 400;
	padding: 5px 20px;
}

.btn-primary.btn-sm {
	font-weight: 500;
	padding-right: 38px;
}

.btn-primary.btn-sm::after {
	height: 22px;
	right: 12px;
	top: 51%;
	width: 22px;
}

.btn-primary.btn-rev {
	background: #fff;
	color: #000;
}
.btn-primary.btn-rev::after {
	background-image: url("../images/icon-arrow-device-01-rev.svg");
}

.btn-secondary {
	background: none;
	border: #000 solid 2px;
	border-radius: 1.5em;
	color: #000;
	font-weight: 500;
	font-size: 18px;
	padding: 10px 20px;
}

.btn-secondary.btn-sm {
	padding-bottom: 4px;
	padding-top: 4px;
}

.btn-secondary.btn-rev {
	border-color: #fff;
	color: #fff;
}

.btn-secondary::after {
	all: unset;
}

.btn-secondary:hover {
	color: red;
}

.button-group {
	display: flex;
	gap: 15px;
}

.link-small {
	font-size: 14px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.icon-dash {
		position: relative;
	}

	.icon-dash::before {
		content: "—";
		position: absolute;
		top: -1.15em;
		left: 0;
	}
}

#nav {
	display: flex;

	gap: 30px;
	justify-content: center;
	margin: 5px 0 15px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	#nav {
		font-size: 14px;
	}
}

@media (min-width: 992px) {
	#nav {
		margin-top: 20px;
	}
}

@media (min-width: 1200px) {
	#nav {
		gap: 10px;
	}
}

#nav a {
	align-self: center;
	padding: 0 15px 2px;
	text-align: center;
	text-decoration: none;
	width: 33.33%;
}

@media (min-width: 768px) {
	#nav a {
		padding-bottom: 6px;
		padding-top: 4px;
	}
}

#nav .active {
	background: #000;
	border-radius: 1.25em;
	color: #fff;
	text-decoration: none;
}

.page-black #nav .active {
	background: #fff;
	color: #000;
}

.contact {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
}

@media (min-width: 576px) {
	#header .contact {
		margin-top: 18px;
		text-align: right;
	}
}

.contact a {
	text-decoration: none;
}

#footer {
	line-height: 1;
	padding-top: 50px;
}

#footer .col {
	margin-bottom: 10px;
}

#footer .copyright {
	display: block;
	padding-top: 20px;
}

@media (min-width: 768px) {
	#footer .copyright {
		display: block;
		text-align: right;
	}
}

@media (min-width: 992px) {
	#footer .copyright {
		padding: 0;
	}
}
