/* general */

@font-face {
	font-family: "OverusedGrotesk";
	src: url("fonts/OverusedGrotesk-Light.woff2") format("woff2"),
		url("fonts/OverusedGrotesk-Light.woff") format("woff");
	font-weight: 300; /* Specify the font weight for light font */
}

/* Existing Roman font */
@font-face {
	font-family: "OverusedGrotesk";
	src: url("fonts/OverusedGrotesk-Roman.woff2") format("woff2"),
		url("fonts/OverusedGrotesk-Roman.woff") format("woff");
	font-weight: 400; /* Normal weight */
}

body {
	background-image: url("../images/device-bkg-def.svg");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 150%;
	color: #000;
	font-family: "OverusedGrotesk", Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	word-spacing: 0.125em;
}

@media (min-width: 768px) {
	body {
		background-size: 120%;
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	body {
		background-size: 1200px;
		font-size: 18px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

@media (min-width: 1200px) {
	body {
		font-size: 18px;
	}
}

.page-sub {
	background-image: none;
}

.page-green {
	background-color: #bdff01;
}

.page-black {
	background-color: #000;
	color: #fff;
}

a {
	color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-weight: 400;
	line-height: 1.2;
	margin: 0.75em 0 0.5em;
}

.page-black h1,
.page-black h2,
.page-black h3,
.page-black h4,
.page-black h5,
.page-black h6 {
	color: #fff;
}

h1 {
	font-size: 72px;
	font-size: 12vw;
	margin-top: 0;
}

@media (min-width: 576px) {
	h1 {
		font-size: 8vw;
	}
}

@media (min-width: 992px) {
	h1 {
		font-size: 72px;
	}
}

.page-sub h1 {
	font-size: 48px;
	margin-left: -5px;
	text-transform: uppercase;
	font-weight: 300;
}

@media (min-width: 992px) {
	.page-sub h1 {
		font-size: 150px;
	}
}

h2 {
	font-size: 24px;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	h2 {
		font-size: 30px;
	}
}

h3 {
	font-size: 24px;
	text-transform: uppercase;
}

.big-bullet::before {
	content: "";
	display: inline-block;
	width: 0.55em;
	height: 0.55em;
	background-color: black;
	border-radius: 50%;
	margin-right: 10px; /* Adjust margin as needed */
}

.page-black .big-bullet::before {
	background-color: #fff;
}

.container {
	margin: 0 auto;
	max-width: 1680px;
	width: 100%;
}

#header {
	padding-top: 10px;
}

#logo {
	margin: 20px 0;
}

#logo img {
	max-width: 300px;
	width: 100%;
}

@media (min-width: 1200px) {
	#logo img {
		max-width: 250px;
	}
}

#main {
	padding-top: 80px;
}

#page-home #main {
	align-items: center;
	padding-top: 20px;
}

.page-sub #main {
	padding: 50px 0;
}

#page-home #main h3 {
	margin-bottom: 0.25em;
}

#main aside h2 {
	margin-top: 2px;
}

#main aside .contact {
	font-size: 30px;
	margin-bottom: 50px;
}

.page-sub #main article {
	font-size: 30px;
	line-height: 1.35;
}

.page-sub #main article p {
	margin-bottom: 0.75em;
}

.page-sub #main article .big-bullet::before {
	margin-right: 0;
}

.page-sub #main article .button-group {
	margin-top: 50px;
}

#footer {
	padding-bottom: 50px;
}

.btn {
	background: #ccc;
	border: none;
	border-radius: 1em;
	color: #fff;
	display: inline-block;
	font-size: 21px;
	line-height: 1.2;
	padding: 4px 20px 6px;
	text-decoration: none;
	position: relative;
	padding-right: 50px;
}

@media (min-width: 768px) {
	.btn {
		font-size: 30px;
	}
}

.btn-primary {
	background: #000;
}

.btn-primary:hover {
	background-color: #555;
}

.page-white .btn-primary {
	background: #bdff01;
	color: #000;
}

.page-white .btn-primary:hover {
	background: #a7e100;
	color: #000;
}

.btn-secondary {
	background: #fff;
	color: #000;
}

.btn-secondary:hover {
	background-color: #eaeaea;
	color: #000;
}

.btn::after {
	content: "";
	display: inline-block;
	width: 25px;
	height: 25px;
	background-image: url("../images/icon-arrow-device-01-def.svg");
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
}

.page-white .btn::after {
	background-image: url("../images/icon-arrow-device-01-rev.svg");
}

.btn-secondary::after {
	background-image: url("../images/icon-arrow-device-01-rev.svg");
}

.button-group {
	display: flex;
	gap: 15px;
}

.link-small {
	font-size: 14px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.icon-dash {
		position: relative;
	}

	.icon-dash::before {
		content: "—";
		position: absolute;
		top: -1.15em;
		left: 0;
	}
}

#nav {
	display: flex;

	gap: 30px;
	justify-content: center;
	margin: 5px 0 15px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	#nav {
		font-size: 14px;
	}
}

@media (min-width: 992px) {
	#nav {
		margin-top: 20px;
	}
}

@media (min-width: 1200px) {
	#nav {
		gap: 10px;
	}
}

#nav a {
	align-self: center;
	padding: 0 15px 2px;
	text-align: center;
	text-decoration: none;
	width: 33.33%;
}

@media (min-width: 768px) {
	#nav a {
		padding-bottom: 6px;
		padding-top: 4px;
	}
}

#nav .active {
	background: #000;
	border-radius: 1.25em;
	color: #fff;
	text-decoration: none;
}

.page-black #nav .active {
	background: #fff;
	color: #000;
}

.contact {
	display: flex;
	flex-direction: column;
	line-height: 1.2;
}

@media (min-width: 576px) {
	#header .contact {
		margin-top: 18px;
		text-align: right;
	}
}

.contact a {
	text-decoration: none;
}

#footer {
	line-height: 1;
	padding-top: 50px;
}

#footer .col {
	margin-bottom: 10px;
}

#footer .copyright {
	display: block;
	padding-top: 20px;
}

@media (min-width: 768px) {
	#footer .copyright {
		display: block;
		text-align: right;
	}
}

@media (min-width: 992px) {
	#footer .copyright {
		padding: 0;
	}
}
