/* general */

@font-face {
	font-family: "OverusedGrotesk"; /* Specify font name */
	src: url("css/fonts/OverusedGrotesk-Roman.woff2") format("woff2"),
		/* WOFF2 for modern browsers */ url("css/fonts/OverusedGrotesk-Roman.woff")
			format("woff"); /* WOFF fallback for older browsers */
}

html,
body {
	height: 100%;
	margin: 0;
}

body {
	background: #bdff01;
	color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "OverusedGrotesk", Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
}

body {
	body {
		/* Fallback to sans-serif if font fails to load */
	}
}

figure {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	width: 100%;
}

figure svg {
	height: auto;
	width: 35%;
}
